attr>=0.3.*
attrs>=23.1.*
inflect>=6.0.*
lmfit>=1.1.*
matplotlib>=3.6.*
numpy>=1.24.*
pandas>=1.5.*
pytest>=7.2.*
scipy>=1.9.*
sympy>=1.11.*
scikit-rf>=0.24.*
uncertainties>=3.1.*
gitpython>=3.1*
# Mattis-Bardeen>=0.0.*
